*{
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 10px;
    background-color: #151621;
    color: white;
}


.pageURI{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: medium;
}

.pageURI:hover{
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

.login{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    width: 35%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
}




form{
    display: flex;
    flex-direction: column;
}

form h2{
    text-align: center;
    color: #151621;
    margin-bottom: 15px;
}

form h4{
    text-align: center;
    color: #151621;
    margin-bottom: 15px;
}

form input{
    margin-bottom: 2rem;
    padding: 10px;
    border-radius: 10px;
}

form button{
    margin-bottom: 2rem;
    padding: 10px;
    border-radius: 10px;
    background-color:#151621;
    color: white;
    font-size: medium;   
}

.logoutButton{
    color: white;
    background-color: #151621;
    font-size: medium;
    margin-left: 20px;
    border: none;
}

.logoutButton:hover{
    border-bottom: 2px solid red;
    padding-bottom: 3px;     
}

.registerLoginButton{
    margin-bottom: 2rem;
    color: #151621;
    text-decoration: none;
    text-align: center;
}

.loader{
    font-size: larger;
    font-family: sans-serif;
    color: #151621;
    text-align: center;
    padding-top: 20%;
}

.profileInformation{
    width: 500px;
    height: 250px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
    margin-top: 10%;
    border-radius: 25px;
    background-color: lightgray;
}


.userName{
    padding: 10px;
    font-family: sans-serif;
    color: #151621;
}

.userEmail{
    padding: 10px;
    font-family: sans-serif;
    color: #151621;
}
